In [55]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [56]:
pd.set_option('display.max_columns', None)

In [57]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [58]:
trips_df = pd.read_csv('/Users/max_ladmin/Desktop/Data_Engineer_ZoomCamp/green_tripdata_2019-01.csv.gz')
taxi_zone_df = pd.read_csv('/Users/max_ladmin/Desktop/Data_Engineer_ZoomCamp/taxi+_zone_lookup.csv')

In [76]:
pd.io.sql.get_schema(trips_df, name='green_taxi_data', con=engine)
pd.io.sql.get_schema(taxi_zone_df, name='taxi_zone', con=engine)

'\nCREATE TABLE taxi_zone (\n\t"LocationID" BIGINT, \n\t"Borough" TEXT, \n\t"Zone" TEXT, \n\tservice_zone TEXT\n)\n\n'

In [60]:
df_iter = pd.read_csv('/Users/max_ladmin/Desktop/Data_Engineer_ZoomCamp/green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [61]:
# insert data to the green_taxi_data table in the database
while True:

    batch_num = 1
    t_start = time()

    df = next(df_iter)
    #transform some columns data types to datetime 
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'inserted chunk {batch_num}..., took {t_end - t_start} second')
    batch_num += 1

inserted chunk 1..., took 16.922656059265137 second
inserted chunk 1..., took 16.33990979194641 second
inserted chunk 1..., took 16.41565489768982 second
inserted chunk 1..., took 16.51811408996582 second
inserted chunk 1..., took 26.786692142486572 second
inserted chunk 1..., took 21.708945989608765 second
inserted chunk 1..., took 5.709485769271851 second

StopIteration:

In [ ]:
# insert data to the taxi_zone table in the database
taxi_zone_df.to_sql(name='taxi_zone', con=engine, if_exists='replace')

265

In [78]:
# test
query = """
    SELECT *
    FROM green_taxi_data 
    LIMIT 5
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None

In [ ]:
#Question 3
query = """
    SELECT COUNT(*)  
    FROM green_taxi_data 
    WHERE CAST(lpep_pickup_datetime AS DATE) = '2019-01-15'
"""

pd.read_sql(query, con=engine)

   count
0  20689

In [ ]:
#Question 4
query = """
    SELECT lpep_pickup_datetime
    FROM green_taxi_data 
    WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_taxi_data)
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime
0  2019-01-15 19:27:58

In [ ]:
#Question 5
query = """
    SELECT passenger_count, COUNT(*)
    FROM green_taxi_data 
    WHERE CAST(lpep_pickup_datetime AS DATE) = '2019-01-01'
    GROUP BY passenger_count
    ORDER BY passenger_count
"""

pd.read_sql(query, con=engine)

   passenger_count  count
0                0     21
1                1  12415
2                2   1282
3                3    254
4                4    129
5                5    616
6                6    273

In [100]:
#Question 6
query = """
    WITH find_DOLocation_ID AS
    (SELECT "DOLocationID"
    FROM green_taxi_data AS t
    INNER JOIN taxi_zone AS z
    ON t."PULocationID" = z."LocationID"
    WHERE "Zone" = 'Astoria'
        AND tip_amount = (SELECT MAX(tip_amount) FROM green_taxi_data WHERE "PULocationID" = 7)
    LIMIT 1)

    SELECT * FROM taxi_zone WHERE "LocationID" = (SELECT * FROM find_DOLocation_ID)
"""

pd.read_sql(query, con=engine)

   index  LocationID Borough                           Zone service_zone
0    145         146  Queens  Long Island City/Queens Plaza    Boro Zone